
    <div class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <div ng-include="'app/view/header.html'"></div>
     
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div ng-include="'app/view/sidebar.html'"></div>

            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                   
                    <h1 class="page-title"> Courier - Home
                        <small>Gerencie suas transações de maneira rápida e fácil</small>
                    </h1>
               
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN DASHBOARD STATS 1-->
                 
                    <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                 
                  
                    <div class="row">
                      
                        <div class="col-lg-6" ng-repeat="produto in produtos">
                            <div class="portlet mt-element-ribbon light portlet-fit ">
                                <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
                                    <div class="ribbon-sub ribbon-clip ribbon-right"></div> R${{produto.preco}},00 </div>
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">{{produto.nome}}</span>
                                    </div>
                                </div>
                                	<div class="portlet-body"> {{produto.descricao}} </div>
                                	<div class="portlet-body"> Quantidade disponível em estoque: <label class="label label-primary">{{produto.quantidade}} </label> </div>
                            </div>
                        </div>
                        
                       
                       
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
        
        </div>

            <!-- END THEME LAYOUT SCRIPTS -->
    </div>

