<div
	class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
	<div ng-include="'app/view/header.html'"></div>

	<div class="clearfix"></div>
	<!-- END HEADER & CONTENT DIVIDER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div ng-include="'app/view/sidebar.html'"></div>

		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<!-- BEGIN THEME PANEL -->

				<h1 class="page-title">
					Contato
					<!--                         <small>statistics, charts, recent events and reports</small> -->
				</h1>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="icon-home"></i> <a href="index.html">Home</a> <i
							class="fa fa-angle-right"></i></li>
						<li><a href="#">Fale Conosco</a> <i class="fa fa-angle-right"></i></li>
						<li><span>Contato</span></li>
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button"
								class="btn btn-fit-height grey-salt dropdown-toggle"
								data-toggle="dropdown" data-hover="dropdown" data-delay="1000"
								data-close-others="true">
								Actions <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li><a href="#"> <i class="icon-bell"></i> Action
								</a></li>
								<li><a href="#"> <i class="icon-shield"></i> Another
										action
								</a></li>
								<li><a href="#"> <i class="icon-user"></i> Something
										else here
								</a></li>
								<li class="divider"></li>
								<li><a href="#"> <i class="icon-bag"></i> Separated
										link
								</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption font-dark">
									<i class="icon-bulb font-dark"></i> <span
										class="caption-subject bold uppercase">Fale Conosco</span>
								</div>

							</div>
							<div class="portlet-body">

								<div class="row">
									<div class="col-md-8">
										<div class="well well-sm">
											<form>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="name"> Nome</label> <input type="text"
																class="form-control" id="name" placeholder="Nome"
																required="required" />
														</div>
														<div class="form-group">
															<label for="email"> Endereço de e-mail</label>
															<div class="input-group">
																<span class="input-group-addon"><span
																	class="glyphicon glyphicon-envelope"></span> </span> <input
																	type="email" class="form-control" id="email"
																	placeholder="E-mail" required="required" />
															</div>
														</div>
														<div class="form-group">
															<label for="name"> Assunto </label> <input type="text"
																class="form-control" id="name" placeholder="Assunto"
																required="required" />
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="name"> Mensagem</label>
															<textarea name="message" id="message"
																class="form-control" rows="9" cols="25"
																required="required" placeholder="Mensagem"></textarea>
														</div>
													</div>
													<div class="col-md-12">
														<button type="submit" class="btn btn-primary pull-right"
															id="btnContactUs">Enviar</button>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="col-md-4">
										<form>
											<legend>
												<span class="glyphicon glyphicon-globe"></span> Nosso
												Escritório
											</legend>
											<address>
												<strong>UniEVANGÉLICA</strong><br> Av. Universitária Km
												3,5 Suite 600<br>Cidade Universitária - Anápolis/GO
												75083-515,<br> <abbr title="Phone"> Telefone:</abbr>
												(62) 3310-6600
											</address>

										</form>
									</div>
								</div>



							</div>
						</div>
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>

			</div>


		</div>


	</div>

</div>

<div ng-include="'app/view/deposito/cadastrar-deposito.html'"></div>
